.mobile-nav-overlay{
    opacity: 0;
    z-index: 99;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: opacity 0.3s ease,
}

.mobile-nav-overlay--open{
    opacity: 1; 
    pointer-events: all; 
    
}

.mobile-nav {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%, 0%);

    height: 100vh;
    width: 400px;
    padding: 80px 60px 40px;
    background: black;

    transition: transform 0.4s ease-in-out;

    @media (max-width: 767px) {
        width: 300px;
        padding: 40px 30px 0;
        
    }
}

.mobile-nav--open{
    transform: translate(0%,0%);
}

.mobile-nav_btn{
    position: absolute;
    top: 35px;
    right: 50px;
    width: 48px;
    height: 48px;
    background: transparent;
    border: none;

    @media (max-width: 767px) {
        top: 30px;
        right: 20px;
        width: 42px;
        height: 42px;
        
    }
}

.mobile-nav_list{
    font-size: 22px;
    @media (max-width: 767px) {
        font-size: 18px;
        
    }

    li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        list-style-type: none;
    }

    a{
        display: block;
        padding: 30px 0;
        transition: all 0.2s ease-in;

        @media (max-width: 767px) {
            padding: 15px 0;
            
        }

        

        &:hover {
            padding-left: 20px;
        }
    }

    
}
