.swiper-scrollbar {
    height: 3px !important;
    border-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0.3);
    
    
}

.swiper-scrollbar-drag {
    border-radius: 0 !important;
    background-color: white !important;
    
    
    
}